<!-- templates/user_app/app_list.html -->
{% extends 'gradesApp/base1.html' %}
{% block body_block %}
  <h2>Android Apps and Points</h2>
  <ul>
    {% for app in apps %}
            <li>
                <strong>Name:</strong> {{ app.Appname }} <br>
                <!-- <strong>Link:</strong> <a href="{{ app.Applink }}" target="_blank">{{ app.Applink }}</a> <br>
                <strong>Category:</strong> {{ app.get_App_category_display }} <br>
                <strong>Sub Category:</strong> {{ app.get_Sub_category_display }} <br> -->
                {% if app.App_img %}
                    <img src="{{ app.App_img.url }}" alt="App Image" width="100">
                {% endif %}
                <strong>Points:</strong> {{ app.points }} <br>
                <a href="{% url 'app_detail' app_id=app.id %}"><button>View Details</button></a>
            </li>
            </li>
            <br>
        {% endfor %}
  </ul>
{% endblock %}
