{% extends 'gradesApp/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1 class="display-3">Register Here!</h1>
    <hr class="my-2">
    <p class="lead">
        <a href="{% url 'main_part_m3' %}" class="btn {{ one }} w-100"><strong>3 Months</strong></a>

        <a class="btn btn-primary btn-lg" href="{% url 'registeradmin' %}" role="button">I'm a Admin</a>
        <a class="btn btn-primary btn-lg" href="{% url 'registeradmin' %}" role="button">I'm a User</a>

        <a class="btn btn-primary btn-lg" href="{% url "gradesApp:registeruser" %}" role="button">I'm a User</a>
    </p>
</div>
{% endblock %}